<h2>Partial Content - demo</h2>
<ul>
	{{#images}}
		{{#image_1}}
			<li>
				<img src="{{src}}" alt="{{alt}}">
			</li>
		{{/image_1}}
		{{#image_2}}
			<li>
				<img src="{{src}}" alt="{{alt}}">
			</li>
		{{/image_2}}
	{{/images}}
</ul>